/*-------------------*\
        $MIXINS
\*-------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap");
.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 86%;
  left: 94%;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: green;
  z-index: 50;
}

.chat a {
  display: block;
}

.chat a i {
  font-size: 5rem;
  color: #f4f5ea;
}

.chat a i:hover {
  color: #0eee46;
}

@media only screen and (max-width: 964px) {
  .chat {
    position: fixed;
    top: 86%;
    left: 92%;
    width: 65px;
    height: 65px;
    z-index: 50;
  }

  .chat a i {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 524px) {
  .chat {
    position: fixed;
    top: 87%;
    left: 87%;
    width: 60px;
    height: 60px;
    font-size: 3rem;
    z-index: 50;
  }
}
@media only screen and (max-width: 400px) {
  .chat {
    position: fixed;
    top: 89%;
    left: 83%;
    width: 55px;
    height: 55px;
    z-index: 50;
  }
}
@-webkit-keyframes rutita {
  0% {
    left: 32%;
  }
  50% {
    left: 35%;
  }
  100% {
    left: 32%;
  }
}
@keyframes rutita {
  0% {
    left: 32%;
  }
  50% {
    left: 35%;
  }
  100% {
    left: 32%;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  color: #1a1717;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 2560px;
  min-width: 320px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  color: #f4f5ea;
  background-color: #f4f5ea;
  z-index: 9;
}

.header__logo {
  height: 100px;
  z-index: 10;
}

.header__button {
  display: none;
  border: none;
}

.header__button .line {
  width: 23px;
  height: 5px;
  border-radius: 2px;
  margin-bottom: 4px;
  background-color: #1a1717;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header__ul--item {
  padding: 0 15px;
  font-weight: bold;
  border-right: 2px solid #1a1717;
}

.header__ul--item a {
  text-decoration: none;
  font-weight: 500;
  color: #1a1717;
}

.header__ul--item:hover {
  margin-top: 7px;
  border-bottom: 2px solid #1a1717;
}

.header__contactanos {
  padding: 1%;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
  background-color: #cf2830;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__contactanos:hover {
  background-color: #1a1717;
}

@media only screen and (max-width: 964px) {
  .header {
    height: 80px;
    background-color: #f4f5ea;
  }

  .header__menu {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 80px;
    left: 100%;
    height: calc(100% - 80px);
    width: 100%;
    background-color: #1a1717;
    -webkit-transition: left 1s;
    transition: left 1s;
    z-index: 9;
  }

  .header__logo {
    height: 70px;
    z-index: 10;
  }

  .header__button {
    display: block;
    z-index: 10;
    background-color: #f4f5ea;
  }

  .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: inherit;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .header__ul--item a {
    color: #f4f5ea;
  }

  .visible {
    left: 0%;
  }

  .header__contactanos {
    padding: 1%;
  }
}
.main {
  position: relative;
  max-width: 2560px;
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
  margin: 110px auto 0 auto;
}

.main__hero {
  height: calc(100vh - 110px);
  width: 100%;
  min-width: 290px;
  margin: 0 auto;
  background-color: #cf2830;
}

/*====SPLIDE====*/
.splide__track {
  margin: 0;
  padding: 0;
}

.splide__slide img {
  width: 100%;
  height: calc(100vh - 110px);
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 960px) {
  .main {
    margin: 80px auto 0 auto;
  }

  .main__hero {
    height: calc(100vh - 80px);
  }

  .splide__slide img {
    width: 100%;
    height: calc(100vh - 80px);
    -o-object-fit: cover;
       object-fit: cover;
  }

  .splide__slide img {
    -o-object-fit: fill;
       object-fit: fill;
  }
}
.alcance {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
  height: auto;
  min-width: 290px;
  margin: 0 auto;
  padding: 3%;
  color: #f4f5ea;
  background-color: #1a1717;
}
.alcance > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.alcance > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.alcance__title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  width: 100%;
  text-align: left;
  color: #cf2830;
  font-size: 3rem;
}

.alcance__vision {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  padding: 2%;
  text-align: justify;
}

.alcance__vision--title {
  text-align: center;
  font-size: 2.5rem;
}

.alcance__imagen img {
  width: 15vw;
  min-width: 170px;
  max-width: 250px;
}

.alcance__mision {
  padding: 2%;
  text-align: justify;
}

.alcance__mision--title {
  text-align: center;
  font-size: 2.5rem;
}

.alcance__mision--lista {
  list-style: none;
}

.alcance__objetivos {
  padding: 2%;
  text-align: justify;
}

.alcance__objetivos--title {
  text-align: center;
  font-size: 3rem;
}

.alcance__objetivos--lista {
  list-style: none;
}

@media only screen and (max-width: 964px) {
  .alcance {
    -ms-grid-rows: 4fr;
    grid-template-rows: 4fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .alcance > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .alcance__imagen {
    display: none;
  }

  .alcance__objetivos--title {
    margin: 0;
  }
}
@media only screen and (max-width: 524px) {
  .alcance__title {
    font-size: 2.7rem;
  }

  .alcance {
    font-size: 1.5rem;
  }
}
.cursos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  min-width: 290px;
  margin: 0 auto;
  padding: 3%;
  background-color: #f4f5ea;
}

.cursos__left {
  position: relative;
  width: 50%;
  height: auto;
}

.cursos__title {
  width: 100%;
  text-align: left;
  font-size: 3rem;
  color: #cf2830;
  padding: 0;
  margin: 0;
}

.cursos__contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 90vh;
}

.cursos__contain button {
  display: block;
  padding: 2%;
  width: 70%;
  border-radius: 15px;
  border: none;
  text-decoration: none;
  color: #f4f5ea;
  background-color: #cf2830;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.cursos__contain button:hover {
  color: #f4f5ea;
  background-color: #1a1717;
}

.cursos__details {
  position: relative;
  width: 50%;
  height: 90vh;
  border-radius: 10px;
}

.cursos__details--title {
  text-align: center;
  font-size: 3rem;
}

.curso__details--text {
  position: absolute;
  bottom: 6%;
  top: 1.5%;
  left: 5%;
  width: 90%;
  border-radius: 10px;
  color: #f4f5ea;
}

.cursos__details--img {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0;
}

.cursos__details--img img {
  position: absolute;
  -webkit-animation-name: rutita;
          animation-name: rutita;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.borrarCurso {
  color: red;
  display: none;
}

.addCurso {
  display: block;
}

.bloque {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 85%;
  width: 90%;
  font-size: 1.6rem;
  background-color: #1a1717;
}

.submenu-btn {
  display: none;
}

.submenu {
  display: none;
}

@media only screen and (max-width: 964px) {
  .cursos {
    position: relative;
    height: auto;
  }

  .cursos__left {
    position: relative;
    width: 100%;
    height: auto;
  }

  .cursos__contain button {
    display: block;
    padding: 3%;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #cf2830;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
  }

  .cursos__contain {
    width: 100%;
    height: auto;
  }

  .cursos__details {
    display: none;
  }

  .submenu-btn {
    display: block;
  }

  .submenu {
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    text-align: left;
    padding-left: 20px;
    color: #f4f5ea;
    background-color: #1a1717;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
@media only screen and (max-width: 528px) {
  .cursos__title {
    font-size: 2.4rem;
  }
}
.newCursos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: calc(100vh - 110px);
  min-width: 290px;
  margin: 0 auto;
  background-color: #1a1717;
  -webkit-transition: all 450ms;
  transition: all 450ms;
}

.newCursos__title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding: 1% 0;
  color: #cf2830;
}

.newCursos__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  width: 100%;
  padding-bottom: 4%;
}

.carousel__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5%;
}

.carousel__item--img {
  height: 100%;
  max-height: 330px;
}

.carousel__details {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #cf2830;
}

.newCursos__carousel:hover {
  opacity: 0.1;
}

.newCursos__carousel:hover .carousel__item:hover {
  opacity: 1;
}

.carreras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 290px;
  margin: 0 auto;
  padding: 3%;
  background-color: #f4f5ea;
}

.carreras__title {
  width: 100%;
  text-align: left;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 2%;
  color: #cf2830;
}

.carreras__left {
  width: 35%;
  margin-right: 2%;
}

.carreras__left ul {
  list-style: none;
}

.carreras__left ul li {
  position: relative;
  margin-bottom: 13px;
  padding: 4% 0;
  border-radius: 30px;
  text-align: center;
  color: #f4f5ea;
  background-color: #cf2830;
}

.carreras__right {
  width: 35%;
  margin-left: 2%;
}

.carreras__right ul {
  list-style: none;
}

.carreras__right ul li {
  position: relative;
  margin-bottom: 13px;
  padding: 4% 0;
  border-radius: 30px;
  text-align: center;
  color: #f4f5ea;
  background-color: #cf2830;
}

.carreras__left--circle {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  border-radius: 30px;
  height: 100%;
  width: 13%;
  border: 5px solid white;
  background-color: #1a1717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  align-items: center;
}

.carreras__right--circle {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  border-radius: 30px;
  height: 100%;
  width: 13%;
  border: 5px solid white;
  background-color: #1a1717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 528px) {
  .carreras {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-width: 290px;
    margin: 0 auto;
    padding: 3%;
    background-color: #f4f5ea;
  }

  .carreras__title {
    font-size: 2.4rem;
  }

  .carreras__left {
    width: 100%;
    margin: 0;
  }

  .carreras__right {
    width: 100%;
    margin: 0;
  }
}
.convenios {
  width: 100%;
  min-width: 290px;
  margin: 0 auto;
  padding: 3%;
  background-color: #1a1717;
}

.convenios__title {
  text-align: center;
  font-size: 3rem;
  color: #cf2830;
}

.convenios__contain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr 10px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  padding-top: 7%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.convenios__contain > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.convenios__contain > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.convenios__contain > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.convenios__contain > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.convenios__contain > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.convenios__contain > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.convenios__contain > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.convenios__contain > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.convenios__contain > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.convenios__contain > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.convenios__1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  margin-bottom: 60px;
}

.convenios__2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  margin-bottom: 60px;
}

.convenios__3 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  margin-bottom: 60px;
}

.convenios__4 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
}

.convenios__5 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
}

.convenios__img {
  width: 100%;
  max-width: 180px;
  max-height: 130px;
}

@media only screen and (max-width: 964px) {
  .convenios__1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    margin-bottom: 30px;
  }

  .convenios__2 {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    margin-bottom: 30px;
  }

  .convenios__3 {
    -ms-grid-column: 4;
        grid-column-start: 4;
    -ms-grid-column-span: 2;
    grid-column-end: 6;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 528px) {
  .convenios__contain {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 10px 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-top: 7%;
  }
  .convenios__contain > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .convenios__contain > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .convenios__contain > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .convenios__contain > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .convenios__1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    margin-bottom: 20px;
  }

  .convenios__2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    margin-bottom: 20px;
  }

  .convenios__3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    margin-bottom: 20px;
  }

  .convenios__4 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    margin-bottom: 20px;
  }

  .convenios__5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
  }
}
@media only screen and (max-width: 400px) {
  .convenios__contain {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 5fr;
    grid-template-rows: 5fr;
    padding-top: 7%;
  }
  .convenios__contain > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .convenios__1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    margin-bottom: 5px;
  }

  .convenios__2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    margin-bottom: 5px;
  }

  .convenios__3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    margin-bottom: 5px;
  }

  .convenios__4 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    margin-bottom: 5px;
  }

  .convenios__5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    margin-bottom: 5px;
  }

  .convenios__img {
    width: 100%;
    max-width: 140px;
    max-height: 90px;
  }
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  height: 100%;
  min-width: 290px;
  margin: 0 auto;
  padding: 3%;
  color: #f4f5ea;
  background-color: #1a1717;
}

.footer__about {
  width: 34%;
  height: 100%;
  padding: 0 2%;
  text-align: justify;
}

.footer__information {
  width: 33%;
  padding-left: 10%;
  height: auto;
}

.footer__information--ul {
  list-style: none;
}

.footer__contact {
  height: auto;
  padding: 0 2%;
  width: 33%;
  padding-left: 6%;
}

.footer__contact--ul {
  list-style: none;
}

.footer__redes {
  width: 100%;
}

.footer__redes--ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 0 0 0;
  list-style: none;
}

.footer__redes--ul li {
  margin-right: 15px;
}

.footer__redes--ul li a i {
  font-size: 4.5rem;
  color: #cf2830;
}

.footer__redes--ul li a i:hover {
  color: #f4f5ea;
}

.footer__title {
  width: 100%;
  padding-bottom: 6%;
}

.footer__right {
  margin-top: 10px;
  text-align: center;
}

@media only screen and (max-width: 964px) {
  .footer__about {
    width: 44%;
    padding: 0 2%;
  }

  .footer__information {
    width: 23%;
    padding-left: 1%;
  }

  .footer__contact {
    width: 33%;
    padding-left: 2%;
    padding-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .footer__about {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
  }

  .footer__information {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
  }

  .footer__contact {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
  }

  .footer__title {
    padding-bottom: 1%;
    text-align: center;
    font-size: 2.4rem;
    color: #cf2830;
  }

  .footer__redes--ul li a i {
    font-size: 4rem;
    color: #cf2830;
  }
}
@media only screen and (max-width: 528px) {
  .footer__redes--ul li a i {
    font-size: 3rem;
    color: #cf2830;
  }
}