/*-------------------*\
        $MIXINS
\*-------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap");
.chat {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: green;
  z-index: 50;
}

.chat a {
  display: block;
}

.chat a i {
  font-size: 5rem;
  color: #f4f5ea;
}

.chat a i:hover {
  color: #0eee46;
}

@media only screen and (max-width: 964px) {
  .chat a i {
    font-size: 4rem;
  }
}
@keyframes rutita {
  0% {
    left: 32%;
  }
  50% {
    left: 35%;
  }
  100% {
    left: 32%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  color: #1a1717;
  background-color: #f4f5ea;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0%;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  color: #f4f5ea;
  background-color: #f4f5ea;
  z-index: 9;
}

.header__logo {
  height: 100px;
  z-index: 10;
}

.header__button {
  display: none;
  border: none;
}

.header__button .line {
  width: 23px;
  height: 5px;
  border-radius: 2px;
  margin-bottom: 4px;
  background-color: #1a1717;
}

.header__menu {
  color: #1a1717;
}

.header__ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header__ul--item {
  padding: 0 15px;
  font-weight: bold;
  border-right: 2px solid #1a1717;
}

.header__ul--item a {
  text-decoration: none;
  font-weight: 500;
  color: #1a1717;
}

.header__ul--item:hover {
  margin-top: 7px;
  border-bottom: 2px solid #1a1717;
}

.header__ul--catalogo {
  display: none;
}

.header__contactanos {
  padding: 1%;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
  background-color: #cf2830;
  transition: all 0.5s;
}

.header__contactanos:hover {
  background-color: #1a1717;
}

@media only screen and (max-width: 963px) {
  .header {
    height: 80px;
    background-color: #f4f5ea;
  }

  .header__menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 80px;
    left: 100%;
    height: calc(100% - 80px);
    width: 100%;
    background-color: #1a1717;
    transition: left 1s;
    z-index: 9;
  }

  .header__logo {
    height: 70px;
    z-index: 10;
  }

  .header__button {
    display: block;
    z-index: 10;
    background-color: #f4f5ea;
  }

  .header__ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: inherit;
    justify-content: space-evenly;
  }

  .header__ul--item {
    color: #f4f5ea;
  }

  .header__ul--item a {
    color: #f4f5ea;
  }

  .header__ul--catalogo {
    display: block;
    padding: 2% 5%;
    border-radius: 15px;
    background-color: #cf2830;
    color: #f4f5ea;
  }

  .visible {
    left: 0%;
  }

  .header__contactanos {
    padding: 1%;
  }
}
.main {
  position: relative;
  max-width: 2560px;
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
  margin: 110px auto 0 auto;
}

.main__hero {
  height: calc(100vh - 110px);
  width: 100%;
  min-width: 290px;
  margin: 0 auto;
  background-color: #cf2830;
}

/*====SPLIDE====*/
.splide__track {
  margin: 0;
  padding: 0;
}

.splide__slide img {
  width: 100%;
  height: calc(100vh - 110px);
}

@media only screen and (max-width: 964px) {
  .main {
    margin: 80px auto 0 auto;
  }

  .main__hero {
    height: calc(100vh - 80px);
  }

  .splide__slide img {
    height: calc(100vh - 80px);
  }
}
@media only screen and (max-width: 728px) {
  .main {
    margin: 80px auto 0 auto;
  }

  .main__hero {
    height: calc(100vh - 80px);
  }

  .splide__slide img {
    height: calc(100vh - 80px);
    object-fit: fill;
  }
}
.alcance {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
  height: auto;
  min-width: 290px;
  margin: 0 auto;
  padding: 3%;
  color: #f4f5ea;
  background-color: #1a1717;
}

.alcance__title {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  text-align: left;
  color: #cf2830;
  font-size: 3rem;
}

.alcance__vision {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 2%;
  text-align: justify;
}

.alcance__vision--title {
  text-align: center;
  font-size: 2.5rem;
}

.alcance__imagen {
  max-width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.alcance__imagen img {
  width: 70%;
  height: auto;
}

.alcance__mision {
  padding: 2%;
  text-align: justify;
}

.alcance__mision--title {
  text-align: center;
  font-size: 2.5rem;
}

.alcance__mision--lista {
  list-style: none;
}

.alcance__objetivos {
  padding: 2%;
  text-align: justify;
}

.alcance__objetivos--title {
  text-align: center;
  font-size: 3rem;
}

.alcance__objetivos--lista {
  list-style: none;
}

@media only screen and (max-width: 964px) {
  .alcance {
    grid-template-rows: 4fr;
    grid-template-columns: 1fr;
  }

  .alcance__imagen {
    display: none;
  }

  .alcance__objetivos--title {
    margin: 0;
  }
}
@media only screen and (max-width: 524px) {
  .alcance {
    padding: 6% 3%;
  }

  .alcance__title {
    font-size: 2.7rem;
  }

  .alcance {
    font-size: 1.5rem;
  }
}
.cursos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  min-width: 290px;
  margin: 0 auto;
  padding: 3%;
  background-color: #f4f5ea;
}

.cursos__title {
  width: 100%;
  text-align: left;
  font-size: 3rem;
  color: #cf2830;
  padding: 0;
  margin: 0;
}

.cursos__left {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  padding: 2% 0;
}

.cursos__contain {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 100%;
}

.cursos__contain button {
  display: block;
  padding: 2%;
  width: 100%;
  margin-bottom: 2%;
  border-radius: 15px;
  border: none;
  text-decoration: none;
  color: #f4f5ea;
  background-color: #cf2830;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 1.6rem;
  transition: 1s all;
}

.cursos__contain button:hover {
  color: #f4f5ea;
  background-color: #1a1717;
}

.cursos__details {
  position: relative;
  width: 50%;
  height: 90vh;
  border-radius: 10px;
}

.cursos__details--title {
  text-align: center;
  font-size: 3rem;
}

.curso__details--text {
  position: absolute;
  bottom: 6%;
  top: 1.5%;
  left: 5%;
  width: 90%;
  border-radius: 10px;
  color: #f4f5ea;
}

.cursos__details--img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
}

.cursos__details--img img {
  position: absolute;
  animation-name: rutita;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.borrarCurso {
  color: red;
  display: none;
}

.addCurso {
  display: block;
}

.bloque {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  height: auto;
  width: 90%;
  font-size: 1.6rem;
  padding-top: 10%;
  background-color: #1a1717;
}

.submenu-btn {
  display: none;
}

.submenu {
  display: none;
}

@media only screen and (max-width: 2560px) {
  .cursos__details {
    height: 90vh;
  }
}
@media only screen and (max-width: 1440px) {
  .cursos__details {
    height: 85vh;
  }
}
@media only screen and (max-width: 1024px) {
  .cursos__details {
    height: 85vh;
  }
}
@media only screen and (max-width: 964px) {
  .cursos {
    position: relative;
    height: auto;
  }

  .cursos__left {
    position: relative;
    width: 100%;
    height: auto;
  }

  .cursos__contain button {
    display: block;
    padding: 3%;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #cf2830;
    transition: all 0.5s;
    cursor: pointer;
  }

  .cursos__contain {
    width: 100%;
    height: auto;
  }

  .cursos__details {
    display: none;
  }

  .submenu-btn {
    display: block;
  }

  .submenu {
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    text-align: left;
    padding-left: 4%;
    list-style: none;
    color: #f4f5ea;
    background-color: #1a1717;
    transition: all 0.3s;
  }
}
@media only screen and (max-width: 524px) {
  .cursos {
    padding: 3% 6%;
  }

  .cursos__title {
    font-size: 2.4rem;
  }
}
.newCursos {
  width: 100%;
  height: auto;
  min-width: 290px;
  margin: 0 auto;
  padding: 2%;
  background-color: #1a1717;
  transition: all 450ms;
}

.newCursos__title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding: 1% 0;
  color: #cf2830;
}

.newCursos__carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 25px;
  width: 100%;
  height: auto;
}

.carousel__item {
  width: 100%;
  height: 100%;
  max-height: 350px;
  position: relative;
  transition: 1s all;
}

.newCursos:hover .carousel__item {
  opacity: 0.1;
  transform-origin: center;
}

.newCursos .carousel__item:hover {
  opacity: 1;
  transform: scale(1.2);
}

.carousel__item--img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.carousel__details {
  position: absolute;
  bottom: 0;
  right: 0;
}

.carousel__details--btn {
  display: block;
  padding: 5px 15px;
  border: none;
  border-radius: 6px 0px 6px 0px;
  margin-top: 5px;
  color: #f4f5ea;
  background-color: #cf2830;
  cursor: pointer;
  transition: 0.5s all;
}

.carousel__details--btn:hover {
  background-color: #1a1717;
}

@media only screen and (max-width: 964px) {
  .carousel__details {
    position: absolute;
  }
}
@media only screen and (max-width: 820px) {
  .newCursos__carousel .carousel__item:hover {
    opacity: 1;
    transform: scale(1);
  }

  .carousel__details {
    position: absolute;
  }
}
@media only screen and (max-width: 768px) {
  .newCursos__carousel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 25px;
    width: 100%;
    height: auto;
  }

  .carousel__details {
    position: absolute;
  }
}
@media only screen and (max-width: 586px) {
  .newCursos {
    width: 100%;
    height: auto;
    padding: 6% 3%;
  }

  .carousel__item--img {
    height: 100%;
    max-height: 270px;
  }

  .newCursos__carousel {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 25px;
    width: 100%;
    height: auto;
  }

  .newCursos__carousel .carousel__item:hover {
    opacity: 1;
    transform: scale(1);
  }

  .carousel__details {
    position: absolute;
  }
}
@media only screen and (max-width: 468px) {
  .carousel__item--img {
    height: 100%;
    max-height: 220px;
  }

  .carousel__details {
    position: absolute;
  }
}
@media only screen and (max-width: 414px) {
  .carousel__item--img {
    height: 100%;
    max-height: 190px;
  }

  .carousel__details {
    position: absolute;
  }
}
@media only screen and (max-width: 358px) {
  .carousel__item--img {
    height: 100%;
    max-height: 170px;
  }

  .carousel__details {
    position: absolute;
  }
}
.carreras {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  min-width: 290px;
  margin: 0 auto;
  padding: 3%;
  background-color: #f4f5ea;
}

.carreras__title {
  width: 100%;
  text-align: left;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 2%;
  color: #cf2830;
}

.carreras__contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 21% 20% 23% 38%;
}
.carreras__contain--item {
  border-radius: 10px;
  padding: 3%;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #f4f5ea;
  background-color: #cf2830;
}
.carreras__contain--item h2 {
  font-size: 1.9rem;
}
.carreras__contain--item ul {
  list-style: none;
}

@media only screen and (max-width: 700px) {
  .carreras {
    margin-bottom: 7%;
  }

  .carreras__contain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% 15% 10% 18% 28% 20.6%;
  }
  .carreras__contain--item {
    border-radius: 10px;
    padding: 3%;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #f4f5ea;
    background-color: #cf2830;
  }
  .carreras__contain--item h2 {
    font-size: 1.9rem;
  }
  .carreras__contain--item ul {
    list-style: none;
  }
}
@media only screen and (max-width: 524px) {
  .carreras {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 290px;
    margin: 0 auto;
    padding: 6% 3%;
    background-color: #f4f5ea;
    margin-bottom: 12%;
  }

  .carreras__title {
    font-size: 2.4rem;
  }

  .carreras__contain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 7% 6% 9% 7% 6% 6% 10% 6% 8.5% 15% 9% 12.5%;
  }
  .carreras__contain--item {
    border-radius: 10px;
    padding: 3%;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #f4f5ea;
    background-color: #cf2830;
  }
  .carreras__contain--item h2 {
    font-size: 1.9rem;
  }
  .carreras__contain--item ul {
    list-style: none;
  }
}
@media only screen and (max-width: 480px) {
  .carreras {
    margin-bottom: 20%;
  }
}
@media only screen and (max-width: 370px) {
  .carreras {
    margin-bottom: 30%;
  }
}
.convenios {
  width: 100%;
  min-width: 290px;
  margin: 0 auto;
  padding: 3%;
  background-color: #f4f5ea;
}

.convenios__title {
  text-align: center;
  font-size: 3rem;
  color: #cf2830;
}

.convenios__contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  padding: 15px;
  grid-gap: 3% 1%;
  justify-content: center;
  align-items: center;
}
.convenios__contain .convenios__1 {
  width: 100%;
  text-align: center;
}
.convenios__contain .convenios__1--img1 {
  width: 100%;
  max-width: 180px;
}
.convenios__contain .convenios__2 {
  text-align: center;
  width: 100%;
}
.convenios__contain .convenios__2--img2 {
  width: 100%;
  max-width: 150px;
}
.convenios__contain .convenios__3 {
  text-align: center;
  width: 100%;
}
.convenios__contain .convenios__3--img3 {
  width: 100%;
  max-width: 200px;
}
.convenios__contain .convenios__4 {
  text-align: center;
  width: 100%;
}
.convenios__contain .convenios__4--img4 {
  max-width: 290px;
  width: 100%;
}
.convenios__contain .convenios__5 {
  text-align: center;
  width: 100%;
}
.convenios__contain .convenios__5--img5 {
  max-width: 300px;
  width: 100%;
}
.convenios__contain .convenios__6 {
  text-align: center;
  width: 100%;
}
.convenios__contain .convenios__6--img6 {
  max-width: 350px;
  width: 100%;
}

@media only screen and (max-width: 580px) {
  .convenios__contain {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 7%;
  }

  .convenios__1 {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom: 20px;
  }

  .convenios__2 {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 20px;
  }

  .convenios__3 {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom: 20px;
  }

  .convenios__4 {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 20px;
  }

  .convenios__5 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .convenios__6 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
@media only screen and (max-width: 480px) {
  .convenios {
    margin-bottom: 25%;
  }

  .convenios__contain {
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    padding-top: 7%;
  }

  .convenios__1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .convenios__2 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .convenios__3 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .convenios__4 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .convenios__5 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .convenios__6 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.footer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  min-width: 290px;
  margin: 0 auto;
  padding: 3%;
  color: #f4f5ea;
  background-color: #1a1717;
}

.footer__about {
  width: 34%;
  height: 100%;
  padding: 0 2%;
  text-align: justify;
}

.footer__information {
  width: 33%;
  padding-left: 10%;
  height: auto;
}

.footer__information--ul {
  list-style: none;
}

.footer__contact {
  height: auto;
  padding: 0 2%;
  width: 33%;
  padding-left: 6%;
}

.footer__contact--ul {
  list-style: none;
}

.footer__redes {
  width: 100%;
}

.footer__redes--ul {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2% 0 0 0;
  list-style: none;
}

.footer__redes--ul li {
  margin-right: 15px;
}

.footer__redes--ul li a i {
  font-size: 4.5rem;
  color: #cf2830;
}

.footer__redes--ul li a i:hover {
  color: #f4f5ea;
}

.footer__title {
  width: 100%;
  padding-bottom: 6%;
}

.footer__right {
  margin-top: 10px;
  text-align: center;
}

@media only screen and (max-width: 964px) {
  .footer__about {
    width: 44%;
    padding: 0 2%;
  }

  .footer__information {
    width: 23%;
    padding-left: 1%;
  }

  .footer__contact {
    width: 33%;
    padding-left: 2%;
    padding-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .footer__about {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
  }

  .footer__information {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
  }

  .footer__contact {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
  }

  .footer__title {
    padding-bottom: 1%;
    text-align: center;
    font-size: 2.4rem;
    color: #cf2830;
  }

  .footer__redes--ul li a i {
    font-size: 4rem;
    color: #cf2830;
  }
}
@media only screen and (max-width: 528px) {
  .footer {
    padding: 7% 3%;
  }

  .footer__redes--ul li a i {
    font-size: 3rem;
    color: #cf2830;
  }

  .footer__about {
    margin-bottom: 35px;
  }

  .footer__information {
    margin-bottom: 35px;
  }

  .footer__contact {
    margin-bottom: 35px;
  }
}

/*# sourceMappingURL=style.css.map */
