.chat {
    @include flex-fila;
    position: fixed;
    top: 86%;
    left: 94%;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: $green;
    z-index: $whatsapp;
}

.chat a {
    display: block;
}

.chat a i {
    font-size: 5rem;
    color: $white;
}

.chat a i:hover {
    color: rgba($color: #0eee46, $alpha: 1.0);
}

@media only screen and (max-width:964px) {
    .chat {
        position: fixed;
        top: 90%;
        left: 92%;
        width: 65px;
        height: 65px;
        z-index: $whatsapp;
    }

    .chat a i {
        font-size: 4.5rem;
    }
}

@media only screen and (max-width:524px) {
    .chat {
        position: fixed;
        top: 90%;
        left: 87%;
        width: 60px;
        height: 60px;
        font-size: 3rem;
        z-index: $whatsapp;
    }
}

@media only screen and (max-width:400px) {
    .chat {
        position: fixed;
        top: 92%;
        left: 85%;
        width: 55px;
        height: 55px;
        z-index: $whatsapp;
    }
}