.cursos {
    @include flex-fila;
    align-items: flex-start;
    width: 100%;
    height: auto;
    min-width: 290px;
    margin: 0 auto;
    padding: 3%;
    background-color: $white;
}

.cursos__title {
    width: 100%;
    text-align: left;
    font-size: 3rem;
    color: $red;
    padding: 0;
    margin: 0;
}

.cursos__left {
    // position: relative;
    @include flex-fila;
    width: 50%;
    height: auto;
    padding: 2% 0;
}

.cursos__contain {
    @include flex-col;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
}

.cursos__contain button {
    display: block;
    padding: 2%;
    width: 100%;
    margin-bottom: 2%;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    color: $white;
    background-color: $red;
    transition: all .5s;
    cursor: pointer;
    font-size: 1.6rem;
    transition: 1s all;
}

.cursos__contain button:hover {
    color: $white;
    background-color: $black;
}

.cursos__details {
    position: relative;
    width: 50%;
    height: 90vh;
    border-radius: 10px;
}

.cursos__details--title {
    text-align: center;
    font-size: 3rem;
}

.curso__details--text {
    position: absolute;
    bottom: 6%;
    top: 1.5%;
    left: 5%;
    width: 90%;
    border-radius: 10px;
    color: $white;
}

.cursos__details--img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
}

.cursos__details--img img {
    position: absolute;
    animation-name: rutita;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



.borrarCurso {
    color: red;
    display: none;
}

.addCurso {
    display: block;
}

.bloque {
    @include flex-fila;
    align-items: flex-start;
    height: auto;
    width: 90%;
    font-size: 1.6rem;
    padding-top: 10%;
    background-color: $fondoEspecializacion;
}

.submenu-btn {
    display: none;
}

.submenu {
    display: none;
}

@media only screen and(max-width:2560px) {
    .cursos__details {
        height: 90vh;
    }
}

@media only screen and(max-width:1440px) {
    .cursos__details {
        height: 85vh;
    }
}

@media only screen and(max-width:1024px) {
    .cursos__details {
        height: 85vh;
    }
}

@media only screen and(max-width:964px) {
    .cursos {
        position: relative;
        height: auto;
    }

    .cursos__left {
        position: relative;
        width: 100%;
        height: auto;
    }

    .cursos__contain button {
        display: block;
        padding: 3%;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 10px;
        text-decoration: none;
        background-color: $red;
        transition: all .5s;
        cursor: pointer;
    }

    .cursos__contain {
        width: 100%;
        height: auto;
    }

    .cursos__details {
        display: none;
    }

    .submenu-btn {
        display: block;
    }

    .submenu {
        display: block;
        width: 100%;
        height: 0;
        overflow: hidden;
        text-align: left;
        padding-left: 4%;
        list-style: none;
        color: $white;
        background-color: $black;
        transition: all .3s;
    }
}

@media only screen and (max-width:524px) {
    .cursos {
        padding: 3% 6%;
    }

    .cursos__title {
        font-size: 2.4rem;
    }
}