.main {
    @include anchoDisplay;
    width: 100%;
    margin: 110px auto 0 auto;
}

.main__hero {
    height: calc(100vh - 110px);
    width: 100%;
    min-width: 290px;
    margin: 0 auto;
    background-color: $red;
}

/*====SPLIDE====*/
.splide {
    // height: 100vh;
}

.splide__track {
    // height: 100vh;
    margin: 0;
    padding: 0;
}

.splide__slide img {
    width: 100%;
    height: calc(100vh - 110px);
    object-fit: cover;
}

@media only screen and (max-width:960px) {
    .main {
        margin: 80px auto 0 auto;
    }

    .main__hero {
        height: calc(100vh - 80px);
    }

    .splide__slide img {
        width: 100%;
        height: calc(100vh - 80px);
        object-fit: cover;
    }

    .splide__slide img {
        object-fit: fill;
    }
}