.newCursos {
    @include flex-fila;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - 110px);
    min-width: 290px;
    margin: 0 auto;
    background-color: $black;
    transition: all 450ms;
}

.newCursos__title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding: 1% 0;
    color: $red;
}

.newCursos__carousel {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: 300px;
    width: 100%;
    padding-bottom: 4%;
}
.newCursos__carousel::-webkit-scrollbar{
    height: 10px;
    background-color: $red;
}
.newCursos__carousel::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background:rgba($white, .6)
}

.carousel__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    transition: 450ms all;
}

.carousel__item--img {
    height: 100%;
    max-height: 330px;
}

.carousel__details {
    position: absolute;
    top: 100%;
    left: 85%;
}
.carousel__details--btn{
    display: block;
    padding: 5px 15px;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
    color: $white;
    background-color:$red;
    cursor: pointer;
    transition: .5s all;
}
// .carousel__details--btn:hover{
//     background-color: $white;
//     color: $red;
// }

// .newCursos__carousel:hover{
//     opacity: .2;
// }

.newCursos__carousel .carousel__item:hover{
    opacity:1;
    transform: scale(1.1);
}
@media only screen and(max-width:820px){

    .newCursos__carousel .carousel__item:hover{
        opacity:1;
        transform: scale(1);
    }
    .carousel__details {
        position: absolute;
        top: 93%;
        left: 85%;
    }
}
@media only screen and(max-width:586px){
    .carousel__item--img {
        height: 100%;
        max-height: 270px;
    }   
    .newCursos__carousel .carousel__item:hover{
        opacity:1;
        transform: scale(1);
    }
    .carousel__details {
        position: absolute;
        top: 93%;
        left: 81%;
    }
}
@media only screen and(max-width:468px){
    .carousel__item--img {
        height: 100%;
        max-height: 220px;
    }   
    .carousel__details {
        position: absolute;
        top: 87%;
        left: 77%;
    }
}
@media only screen and(max-width:414px){
    .carousel__item--img {
        height: 100%;
        max-height: 190px;
    }   
    .carousel__details {
        position: absolute;
        top: 85%;
        left: 74%;
    }
}
@media only screen and(max-width:358px){
    .carousel__item--img {
        height: 100%;
        max-height: 170px;
    }  
    .carousel__details {
        position: absolute;
        top: 83%;
        left: 70%;
    } 
}